.todo {
    display: flex;
    flex-direction: row;

    &--completed {
        .todo-text {
            text-decoration: line-through;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        margin: 0 .5rem;
    }
}